*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
    font-size: calc(10px + 0.8vh);
}
/* Medias */
@media only screen and (max-width: 1023px) {
    .structure1{
        flex-direction: column-reverse;
        width: 100%;
    }
    .text-structure{
        width: 80% !important;

    }
    .structure2{
        flex-direction: column;
    }
    
}
@media only screen and (max-width: 300px) {
    .circle-container {
        width: 5em !important;
        height: 5em !important;
    }
    .circle-container a {
        display: block;
        position: absolute;
        top: 50%; left: 50%;
        width: 1em; height: 2em !important;
        margin: -1em !important;
    }
    .circle-container img { display: block; width: 45% !important; }
    .deg0 { transform: rotate(270deg) translate(4em) rotate(-270deg) !important; }
    .deg45 { transform: rotate(330deg) translate(4em) rotate(-330deg) !important; }
    .deg135 { transform: rotate(30deg) translate(4em) rotate(-30deg) !important; }
    .deg180 { transform: rotate(90deg) translate(4em) rotate(-90deg) !important; }
    .deg225 { transform: rotate(150deg) translate(4em) rotate(-150deg) !important; }
    .deg315 { transform: rotate(210deg) translate(4em) rotate(-210deg) !important ; }

    .center{
        width: 100px !important;
    }
     .text-link {
         padding: 5px;
         font-size: 5px !important;
         text-overflow: inherit !important;
    }
    .section2{
        flex-direction: column;
    }
}

@media only screen and (min-width: 2600px) {
    .mouseDown{
        width: 14vw !important;
        top: 73% !important;
        padding: 3vw !important;
    }
    
}

@media only screen and (max-width: 900px){
    #nav{
        gap: 15vw !important;
    }
    .botaoMenuTop{
        max-width: 10px !important;
    }
}
@media only screen and (max-width: 1020px){
    .nav3{
        flex-direction: column;
    }

}
/*Estrutura*/
.container{
    overflow-x: hidden;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width: 100vw;
    overflow-x: hidden;
    gap: 29vw;
}
.nav1{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 33vw;
}
.nav3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin-right: 10px;
    width: 34vw;
}
.button-nav{
    font-size: clamp(1vw, 10px, 1vw + 5px); 
    width: 6vw;
    font-family: inherit;
    border: 0;
    padding: 0;
    background-color: white;
    font-weight: 600;
    min-width: 5vw;
    border-radius: 10px;
}
.button-nav2{
    font-size: clamp(1vw, 10px, 1vw + 5px); 
    width: 8vw;
    font-family: inherit;
    border: 0;
    padding: 0;
    background-color: white;
    font-weight: bold;
    border-radius: 10px;
}
.button-nav:hover{
    background-color: #0059A0;
    color: white;
    cursor: pointer;
    border: 1px solid black;
    
}
.button-nav2:hover{
    background-color: #0059A0;
    color: white;
    cursor: pointer;
    border: 1px solid black;
    
}

.footer{
    display: flex;
    align-items: center;
    height: 45vh;
    overflow-x: hidden;
    background-color:#032855;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 10px;
}
.text-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 90vw;
}
.section1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    flex-direction: row;
}
.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}
.linha-rodape {
    width: 100%;
    border-bottom: 1px solid #dadada;
}
.linha-grid {
    width: 100%;
    border-bottom: 1px solid blue;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    width: 90vw;
    flex-direction: column;
}
.button_saibamais {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #0059A0;
    font-family: 'Montserrat';
    font-size: clamp(10px,1vw,1vw);
    font-weight: 900;
    margin: 10px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 1px 1px 20px 0 #FFFFFF;
    -moz-box-shadow: 1px 1px 20px 0 #FFFFFF;
    box-shadow: 1px 1px 20px 0 #FFFFFF;
    border: solid #FFFFFF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }

 .structure1{
     display: flex;
     justify-content: center;
     align-items: center;
     color: #3b3a3a;
 }

 .structure2{
     display: flex;
     justify-content: center;
     align-items: center;
     color: #3b3a3a;
    }

 .structure3{
     width: 100%;
     padding-top: 50px;
     color: #3b3a3a;

 }

 .text-structure{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     width: 50%;
     margin: auto;
 }

li::marker{
    color: rgb(6, 170, 170);
    font-size: 25px;
}
ul {
    padding-left: 1vw;
    padding-top: 30px;
}
li{
    font-weight: bold;
}

.roundBtn{
    display:block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.image-structure{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.grid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #AED3EC;
    flex-direction: column;
    margin-bottom: 10vw;
}
.grid1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.grid2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-bottom: 5vw;
}
/*Imagens*/
.large-banner{
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
.banner{
    position: relative;
    text-align: center;
    color: white;
    object-fit: contain;
    min-width: 100%;
}
.mouseDown{
    position: absolute;
    width: 17vw;
    top: 75%;
    min-width: 120px;
    padding: 6vw
}
.circle-container {
    position: relative;
    width: 15em;
    height: 15em;
    padding: 2.1em;
    border-radius: 50%;
    margin: 1.75em auto 20px;
}
.circle-container a {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 3.8em; height: 4em;
    margin: -2em;
}
.circle-container img { display: block;}
.deg0 { transform: rotate(270deg) translate(8em) rotate(-270deg); width: 70%; }
.deg45 { transform: rotate(330deg) translate(8em) rotate(-330deg); width: 70%; }
.deg135 { transform: rotate(30deg) translate(8em) rotate(-30deg); width: 70%; }
.deg180 { transform: rotate(90deg) translate(8em) rotate(-90deg); width: 70%; }
.deg225 { transform: rotate(150deg) translate(8em) rotate(-150deg); width: 70% ;}
.deg315 { transform: rotate(210deg) translate(8em) rotate(-210deg); width: 70% ;}

.center{
    width: 30% !important;
    top: 45% !important;
    left: 45% !important;
}
.background{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image-structure{
    width: 50vw;
    margin: auto;
    min-width: 300px;
}
.backgroundIMG{
    padding-left: 94vw;
}
.imgEixo{
    width: 15vw;
}
/* Texto */
.banner-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(5vw + 2px);
    font-weight: 900;
    line-height: 1.1em;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
.text-link{
    color: white;
    padding: 10px;
    font-size: clamp(1vw, 10px, 1vw + 5px);
}
.text-grid2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60vw;
    padding-right: 1vw;
    padding-left: 5vw;
    font-size: 4vw;
    padding-bottom: 5vw;
    padding-top: 5vw;
    color: #053168; 
    font-weight: bold;
}
